@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

html, body{ 
    margin: 0px; 
    padding: 0px; 
    background-color: white; 
    font-family: 'roboto', sans-serif;
} 

.navmenu{ 
    width: 100%; 
    background-color: #ffffff; 
    position: fixed; 
    color: #914d91; 
    height: 100px;
} 

.navlinkhome{  
    padding-top: 40px;
    text-align: center; 
    text-decoration: none; 
    color: #914d91; 
    background-color: white; 
    width: 49%; 
    display: inline-block;
} 

.navlink{ 
    background-color: white; 
    color: #914d91; 
    text-decoration: none; 
    text-align: center; 
    width: 12%; 
    display: inline-block;
} 

.introduction{ 
    background-color: rgb(197, 197, 197); 
    height: 1000px;
}